/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  background-color: #3b3b3b;
  color: white;
  font-size: 1rem;
  margin: 0;
  padding-top: 50px; 
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  font-family: 'Poppins', sans-serif;
}

label {
  color: white;
  font-size: 1.2rem; /* maior */
  font-weight: 600; /* negrito */
  display: block;
  text-align: center; /* centralizado horizontalmente */
  margin-bottom: 10px;
}

.form-control {
  background-color: #555;
  color: white;
  border: 1px solid #777;
  font-size: 1rem;
  height: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.form-control::placeholder {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#resultado {
  color: gold;
  font-weight: bold;
  font-size: 1rem;
  text-align: center; /* centralizado */
  margin-top: 1rem;
}

#linkArea {
  text-align: center; /* centraliza link */
  margin-top: 0.5rem;
}

#linkArea a {
  color: #3498db; /* azul */
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

#linkArea a:hover {
  text-decoration: underline;
}

/* largura do container menor */
.container .col-6 {
  max-width: 600px;
}
